.carousel-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;

  .banner-swiper {
    width: 100%;
    height: 700px;

    @media (max-width: 992px) {
      height: 400px;
    }

    @media (max-width: 576px) {
      height: 300px;
    }
  }

  .banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
    display: block;
    user-select: none;
  }

  // Dots Pagination
  .swiper-pagination-bullet {
    background: #fff;
    opacity: 0.6;
  }

  .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
  }
}
