server:
  port: 8083

spring:
  application:
    name: booking-service
  kafka:
    bootstrap-servers: localhost:29092
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

  datasource:
    url: jdbc:postgresql://localhost:5432/booking-service
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1

fcm:
  default-token: epqtPpC1adD1m5rv0xNRpy:APA91bEK-eiggoOL1qbll2jw-kyv3a6QJEW60K6xPAVdtHwJTHSqIqap175JIlSkulPjRAZ_RfRMc8zN2uWi3x7o627hOUDZlr1ejmfIh-3-Nz8RShs5qNE
