server:
  port: 8085

spring:
  application:
    name: grooming-service

  datasource:
    url: jdbc:postgresql://localhost:5432/grooming-service
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update

app:
  websocket:
    enabled: true
    endpoint: /websocket
    allowed-origins:
      - http://localhost:5173

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
